@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}

.containAll {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pickFirst {
  margin-right: 10px;
}

.pickSecond {
  margin-left: 10px;
}

.radio {
  margin-right: 5px;
}

.big-title {
  font-size: 3.5rem;
  margin-bottom: 50px;
}
/* Home */
a .big-button {
  padding-left: 100px;
  padding-right: 100px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.contain-name input {
  text-align: center;
}
/* test */
.questionDiv {
  margin-bottom: 20px;
  margin-top: 5px;
}

.contain-question {
  border: 1.5px solid #f8f9fa;
  border-color: #ced6e0;
  border-radius: .25rem;
  margin-top: 15px;
  padding: 15px;
}

.testHeader {
  display: flex;
  justify-content: space-between;
}

.question {
  color:black;
}

.pickAnswer {

}

.buttonDiv {
  display: flex;
  justify-content: space-between;
}